#subtitle {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    /* font-size: 16px; */
    font-size: 0.75rem;
    display: none;
    z-index: 1000;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    max-width: 80%;
    text-align: center;
}

@media (min-width: 1080px) {
    #subtitle {
        font-size: 1.5rem;
    }
}