{% extends 'films/base.html' %}
{% load django_bootstrap5 %}
{%load films_tags%}

{% block breadcrumb %}
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'films:film_list' %}">{{ 'films:film'|model_verbose_name_plural }}</a>
      </li>
      <li class="breadcrumb-item">
        <a href="{% url 'films:film_detail' film.id %}">{{ film.name }}</a>
      </li>
      <li class="breadcrumb-item active">Удаление субтитра</li>
    </ol>
  </nav>
{% endblock %}

{% block content %}
  <div class="alert alert-danger">
    <h4 class="alert-heading">Вы уверены?</h4>
    <p>Вы действительно хотите удалить субтитр «{{ subtitle.text|truncatechars:50 }}» для фильма «{{ film.name }}»?</p>
    <form method="POST">
      {% csrf_token %}
      {% bootstrap_button 'Да, удалить!' button_type='submit' button_class='btn-danger' %}
      <a href="{% url 'films:subtitles:subtitle_list' film.id %}" class="btn btn-light ms-4">Нет</a>
    </form>
  </div>
{% endblock %}